* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

@media all and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

.container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}

.container .topbar-wrap {
  height: 50px;
  line-height: 50px;
  background: #373d41;
  padding: 0px;
}

.container .topbar-wrap .topbar-btn {
  color: #fff;
}

.container .topbar-wrap .topbar-logo {
  float: left;
  width: 48px;
  line-height: 26px;
}

.container .topbar-wrap .topbar-logos {
  float: left;
  width: 140px;
  line-height: 48px;
  font-size: 14px;
}

.container .topbar-wrap .topbar-logo img, .container .topbar-wrap .topbar-logos img {
  height: 30px;
  margin-top: 12px;
  margin-left: 2px;
}

.container .topbar-wrap .topbar-title {
  float: left;
  text-align: left;
  padding-left: 10px;
  border-left: 1px solid #000;
}

.topbar-title .el-menu--horizontal {
  background-color: transparent;
}

.el-menu--horizontal > .el-menu-item:not(.is-disabled):hover, .el-menu--horizontal > .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal > .el-menu-item.is-active {
  color: #fff;
  background-color: transparent;
  border-bottom: 2px solid #409EFF !important;
}

.topbar-title .el-menu--horizontal > .el-menu-item {
  height: 50px;
  line-height: 50px;
  color: #fff;
}

.el-menu-item .iconfont {
  margin-right: 5px;
  display: inline-block;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}

.container .topbar-wrap .topbar-account {
  float: right;
  padding-right: 12px;
}

.container .topbar-wrap .topbar-timer {
  display: inline-block;
}

.container .topbar-wrap .topbar-timer span {
  display: inline-block;
  vertical-align: middle;
}

.container .topbar-wrap .topbar-timer .login-name {
  margin: 0 6px;
  font-style: normal;
}

.container .topbar-wrap .userinfo-inner {
  cursor: pointer;
  color: #fff;
  padding-left: 10px;
}

.container .topbar-wrap .userinfo-inner img {
  margin-left: 6px;
  width: 42px;
  height: 42px;
  border: 1px solid #504d4d;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
}

.container .menu-toggle {
  background: #4A5064;
  text-align: center;
  color: white;
  height: 26px;
  line-height: 30px;
}

.container .menu-toggle .iconfont:hover {
  cursor: pointer;
}

aside .el-menu-item, aside .el-submenu__title {
  color: #fff;
  text-align: left;
}

aside .el-menu-item:hover, aside .el-submenu .el-menu-item:hover, aside .el-submenu__title:hover {
  background-color: #7ed2df;
}

aside .el-submenu .el-menu-item {
  background-color: #333744;
}

aside .el-submenu .el-menu-item:hover {
  background-color: #4A5064;
}

aside .el-submenu .el-menu-item.is-active, aside .el-menu-item.is-active,
aside .el-submenu .el-menu-item.is-active:hover, aside .el-menu-item.is-active:hover {
  background-color: #00C1DE;
  color: #fff;
}

aside .warp-breadcrum {
  margin: 5px 10px 15px 0px;
}

.container aside {
  min-width: 50px;
  background: #333744;
}

.container aside::-webkit-scrollbar {
  display: none;
}

.container aside.showSidebar {
  overflow-x: hidden;
  overflow-y: auto;
}

.container aside .el-menu {
  height: 100%; /*写给不支持calc()的浏览器*/
  height: calc(100% - 80px);
  border-radius: 0px;
  background-color: #333744;
  border-right: 0px;
}

.container aside .el-submenu .el-menu-item {
  min-width: 60px;
}

.container aside .el-menu {
  width: 189px;
}

.container aside .el-menu--collapse {
  width: 60px;
}

.container aside .el-menu .el-menu-item, .container aside .el-submenu .el-submenu__title {
  height: 46px;
  line-height: 46px;
}

.container aside .el-menu-item:hover, .container aside .el-submenu .el-menu-item:hover, .container aside .el-submenu__title:hover {
  background-color: #7ed2df;
}

.container .main {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50px;
  bottom: 0px;
  overflow: hidden;
}

.container .content-container {
  background: #fff;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  padding-bottom: 1px;
}

.container .content-container .content-wrapper {
  background-color: #fff;
  box-sizing: border-box;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  width: 100%;
  background-color: #2d2e2e;
}

.footer .footer-msg {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.08rem;
  color: #666;
}

.footer .footer-msg a {
  color: #428bca;
  text-decoration: none;
}

.footer .footer-msg a:hover,
.footer .footer-msg a:focus,
.footer .footer-msg a:active {
   color: #2a6496;
   text-decoration: underline;
   outline: 0;
 }
